<div class="flex min-h-screen items-center justify-center relative">
    <div class="absolute top-0 pb-9 w-full h-full bg-center bg-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../../assets/background.jpg');">
        <app-header></app-header>
    </div>
    <div class="p-24 flex flex-wrap items-center justify-center">
        
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg transform transition-transform duration-300 hover:scale-110">
            <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                <i class="fas fa-sun fa-5x text-white"></i>
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <span *ngFor="let weather of tomorrowData" class="block opacity-75 -mb-1">{{ weather.date.fullDate }}</span>
                <div class="flex justify-between">
                <span class="block font-semibold text-xl pr-8 pt-2">Temperature </span>
                <span *ngFor="let weather of tomorrowData"class="block bg-white rounded-full text-orange-500 text-xs font-bold px-4 py-2 leading-none flex items-center">{{ weather['Temp_C'].toFixed(2) }} ºC</span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-teal-500 rounded-lg max-w-xs shadow-lg transform transition-transform duration-300 hover:scale-110">
            <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                <i class="fas fa-wind fa-5x text-white"></i>
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <span *ngFor="let weather of tomorrowData"class="block opacity-75 -mb-1">{{ weather.date.fullDate }}</span>
                <div class="flex justify-between">
                <span class="block font-semibold text-xl pr-8 pt-2">Wind Speed </span>
                <span *ngFor="let weather of tomorrowData" class="block bg-white rounded-full text-green-500 text-xs font-bold px-3 py-2 leading-none flex items-center">{{ weather['Wind Speed_km/h'].toFixed(0) }} Km/h</span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-blue-500 rounded-lg max-w-xs shadow-lg transform transition-transform duration-300 hover:scale-110">
            <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                <i class="fas fa-tint fa-5x text-white"></i>
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <span *ngFor="let weather of tomorrowData" class="block opacity-75 -mb-1">{{ weather.date.fullDate }}</span>
                <div class="flex justify-between">
                <span class="block font-semibold text-xl pr-11 pt-2">Humidity </span>
                <span *ngFor="let weather of tomorrowData" class="block bg-white rounded-full text-blue-500 text-xs font-bold px-6 py-2 leading-none flex items-center">{{ weather['Rel Hum_%'].toFixed(0) }} %</span>
                </div>
            </div>
        </div>     
    </div>
</div>