<div class="flex min-h-screen items-center justify-center relative">
    <div class="absolute top-0 pb-9 w-full h-full bg-center bg-cover" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../../assets/background.jpg');">
        <app-header></app-header>
    </div>
    <div class="absolute  mt-80 sm:mt-16 lg:px-40 lg:py-0 lg:mt-9 justify-center container mx-auto">
        <div class="flex flex-wrap w-full lg:w-auto mt-14">
            <div class="w-full lg:w-1/2 flex rounded-lg bg-auto">
                <div class="rounded-lg py-6 pl-8 pr-32 w-full bg-blue-400 opacity-90 text-white">
                    <div class="mb-20">
                        <h2 *ngFor="let weather of todayData" class="font-bold text-3xl leading-none pb-1">{{ weather.date.dayOfWeek }}</h2>
                        <h3 *ngFor="let weather of todayData" class="leading-none pb-2 pl-0 pt-2">{{ weather.date.fullDate }}</h3>
                        Safi, MA  
                    </div>
                    <div>
                        <svg class="w-16 mb-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" >
                            <g>
                                <path d="m64.5,92.6c15.5,0 28-12.6 28-28s-12.6-28-28-28-28,12.6-28,28 12.5,28 28,28zm0-47.9c11,0 19.9,8.9 19.9,19.9 0,11-8.9,19.9-19.9,19.9s-19.9-8.9-19.9-19.9c0-11 8.9-19.9 19.9-19.9z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m68.6,23.6v-12.9c0-2.3-1.8-4.1-4.1-4.1s-4.1,1.8-4.1,4.1v12.9c0,2.3 1.8,4.1 4.1,4.1s4.1-1.8 4.1-4.1z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m60.4,105.6v12.9c0,2.3 1.8,4.1 4.1,4.1s4.1-1.8 4.1-4.1v-12.9c0-2.3-1.8-4.1-4.1-4.1s-4.1,1.8-4.1,4.1z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m96.4,38.5l9.1-9.1c1.6-1.6 1.6-4.2 0-5.8-1.6-1.6-4.2-1.6-5.8,0l-9.1,9.1c-1.6,1.6-1.6,4.2 0,5.8 0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m23.5,105.6c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l9.1-9.1c1.6-1.6 1.6-4.2 0-5.8-1.6-1.6-4.2-1.6-5.8,0l-9.1,9.1c-1.6,1.6-1.6,4.2 0,5.8z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m122.5,64.6c0-2.3-1.8-4.1-4.1-4.1h-12.9c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.8,4.1 4.1,4.1h12.9c2.2,1.42109e-14 4.1-1.8 4.1-4.1z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m10.6,68.7h12.9c2.3,0 4.1-1.8 4.1-4.1 0-2.3-1.8-4.1-4.1-4.1h-12.9c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.9,4.1 4.1,4.1z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m102.6,106.8c1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-9.1-9.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l9.1,9.1c0.8,0.8 1.9,1.2 2.9,1.2z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                <path d="m38.4,38.5c1.6-1.6 1.6-4.2 0-5.8l-9.1-9.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l9.1,9.1c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                            </g>
                        </svg>
                        <strong *ngFor="let weather of todayData" class="leading-none text-6xl block font-weight-bolder">{{ weather['Temp_C'].toFixed(2) }} ºC</strong>
                        <b class="text-2xl block font-bold">Sunny</b>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-1/2 flex ml-0">
                <div class="lg:my-3 bg-gray-800 text-white p-8 lg:rounded-r-lg w-full">
                    <div *ngFor="let weather of todayData" class="flex justify-between w-64 mb-4 w-full">
                        <div class="w-auto font-bold uppercase text-90"><i class="fas fa-thermometer-half"></i> Temperature</div>
                        <div class="w-auto text-right">{{ weather['Temp_C'].toFixed(2) }} ºC</div>
                    </div>
                    <div *ngFor="let weather of todayData" class="flex justify-between w-64 mb-4 w-full">
                        <div class="w-auto font-bold uppercase text-90"><i class="fas fa-tint"></i> Humidity</div>
                        <div class="w-auto text-right">{{ weather['Rel Hum_%'].toFixed(0) }} %</div>
                    </div>
                    <div *ngFor="let weather of todayData" class="flex justify-between w-64 mb-8 w-full">
                        <div class="w-auto font-bold uppercase text-90"><i class="fas fa-wind"></i> Wind Speed</div>
                        <div class="w-auto text-right">{{ weather['Wind Speed_km/h'].toFixed(0) }} Km/h</div>
                    </div>
                    <div class="flex justify-center space-x-1">
                        <button class="text-white bg-gray-500 rounded-full w-8 h-8 mt-14 transform transition-transform duration-300 hover:scale-110" (click)="prevGroup()">&#10094;</button>
                        <div *ngFor="let weather of productGroup" class="flex flex-col w-1/4 bg-gray-900 rounded-lg pb-4 transform transition-transform duration-300 hover:scale-110 pr-1">
                            <div class="text-center pt-2 mb-2">
                                <svg class="w-10 mx-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 33.062 33.062" style="enable-background:new 0 0 33.062 33.062;" xml:space="preserve">
                                    <path d="M25.615,26.608H6.442C2.89,26.608,0,23.719,0,20.168c0-3.502,2.81-6.361,6.294-6.439c1.241-4.304,5.161-7.275,9.67-7.275   c3.736,0,7.101,2.023,8.866,5.306c0.26-0.026,0.522-0.04,0.784-0.04c4.106,0,7.446,3.339,7.446,7.443   C33.062,23.268,29.721,26.608,25.615,26.608z M6.527,14.732C3.437,14.732,1,17.17,1,20.168c0,2.999,2.441,5.439,5.442,5.439h19.173   c3.555,0,6.446-2.892,6.446-6.445c0-3.553-2.892-6.443-6.446-6.443c-0.314,0-0.63,0.022-0.939,0.066   c-0.229,0.063-0.469-0.046-0.574-0.259c-1.545-3.13-4.663-5.073-8.137-5.073c-4.183,0-7.803,2.839-8.804,6.904   c-0.056,0.228-0.278,0.372-0.498,0.381l-0.127-0.007C6.533,14.732,6.53,14.732,6.527,14.732z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                </svg>
                            </div>
                            <div class="pl-2">
                                <b class="text-xl pl-2">{{ weather['Date/Time'] }}</b><br>
                                <b class="font-normal text-xs"><i class="fas fa-thermometer-half"></i> {{ weather['Temp_C'].toFixed(2) }} ºC</b><br>
                                <b class="font-normal text-xs"><i class="fas fa-tint"></i> {{ weather['Rel Hum_%'].toFixed(0) }} %</b><br>
                                <b class="font-normal text-xs"><i class="fas fa-wind"></i> {{ weather['Wind Speed_km/h'].toFixed(0) }} km/h</b><br>
                            </div>
                        </div>
                        <button class="text-white bg-gray-500 rounded-full w-8 h-8 mt-14 transform transition-transform duration-300 hover:scale-110" (click)="nextGroup()">&#10095;</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
